*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.border1{
    /* border:2px solid red; */
}
.p1{
    padding-left:1.5rem;
    padding-right:1.5rem;
}
.mg-auto{
  margin-left:auto;
  margin-right:auto;
}
.h-custom{
    height:6rem;
}
.relative{
    position:relative;
}
.z-10{
    z-index:10;
}

.container{
    width:100%;
}

/* header - flex */
.flex{
    display:flex;
}
.justify-between{
    justify-content:space-between;
}
.items-center{
    align-items:center;
}
.py-2{
    padding-top:1.5rem;
}

.all{
    
    position: relative;
    top: 0;
    left: 0;
    z-index:10;
    color: white;
}

/* Relative - img */
.w-full{
    width:100%;
}
.h-24{
    height:6rem;
}
.absolute{
    position:absolute;
    top:0;
    left:0;
}
.bg-yellow-800{
    background-color:rgba(120, 53, 15);
}
.opacity{
    opacity:0.95;
}

/* border2 */
.border2{
    /* border:2px solid green; */
}
.p-3{
    padding-top:3rem;
    padding-bottom:3rem;
    padding-left:3rem;
    padding-right:3rem;
}
.relative{
    position:relative;
}
.w-full{
    width:100%;
}
.-mg-24{
  margin-top:-6rem;
}
.op-1{
    opacity:1;
}

/* border - 3 */
.border3{
    /* border:2px solid blue; */
}
.text-center{
    text-align:center;
}
.py-4{
    padding-top:12rem;
    padding-bottom:12rem;
}

.text-white{
    color:white;
}
.mg-1{
    margin-bottom:3rem;
}
.font-bold{
    font-weight:700;
}
.font-sz{
    font-size:2.5rem;
}
/* home - btn  */
.inline-block{
    display:inline-block;
}
.uppercase{
    text-transform:uppercase;
}
.text-sm{
    font-size:0.875rem;
    line-height:1.25rem;
}
.px-8{
    padding-top:1rem;
    padding-bottom:1rem;
}
.py-5{
    padding-left:2rem;
    padding-right:2rem;
}
a{
    text-decoration:none;
    color:white;
}

img {
    max-width:100%;
}
.w-full{
    width:100%;
}
.h-full{
    height:100%;
}
.absolute{
    position:absolute;
}
.inset-0{
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.object-cover{
    object-fit:cover;
}
.opacity-70{
    opacity:0.7;
}