*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.bg-color{
    background-color:#333030;;
    color:white;
}
/* header */
.border1{
    /* border:2px solid red; */
}
.py-1{
   padding:3rem;
}
.py-2{
    padding-top:10rem;
    padding-bottom:10rem;
}
.mg-1{
    margin-left:5rem;
    margin-right:5rem;
}
/* home - bg */
.relative{
    position:relative;
}
.w-full{
    width:100%;
}
.z-10{
    z-index:10;
}
.home-bg{

}
.text-center{
    text-align:center;
}
.white-color{
    color:white;
}
.font-bold{
    font-weight:700;
}
.font-sz{
    font-size:3rem;
}
.font-display{
    font-family: Arial, Helvetica, sans-serif;
}
.font-gray{
    color:rgb(230, 223, 223);
}
.font-sz-1{
    font-size:1.3rem;
}

/* img */
.w-full{
    width:100%;
}
.h-full{
    height:100%;
}
.absolute{
    position:absolute;
}
.inset-0{
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.cover-object{
    object-fit:cover;
}
/* header -  */
/* .border-2{
    border:3px solid green;
} */
.h-24{
    height:8rem;
}
.py-3{
    padding-top:2rem;
    padding-bottom:2rem;
}
.flex{
    display:flex;
}
.items-center{
    align-items: center;
}
.justify{
    justify-content:space-evenly;
}
.brand{
    font-size:2rem;
    color:rgb(241, 92, 38);
}
/* navigation  */
.opacity{
    opacity:0.7;
}
.navBar{
  font-size:1.2rem;
}
.navBar a{
    padding:8px;
    margin:4px;
}
/* box - container */
.border-2{
    /* border:3px solid green; */
}
.flex-wrap{
    flex-wrap:wrap;
}
.container{
    width:100%;
}
.mg-auto{
    margin-left:6rem;
    margin-right:6rem;
}
.box{
    width:360px;
    height:360px;
    /* border:2px solid darkblue; */
    background-color:white;
}
.mg-b{
    margin-bottom:1rem;
}
.bg-box{
    background-color: rgb(237, 236, 235);
}
.text-black{
    color:black;
}
.gray-color{
    color:rgb(62, 59, 59);
}
.mg-text{
    margin-top:0.85rem;
}
.h-auto{
    height:auto;
}

