* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.mg-auto {
    margin-left: auto;
    margin-right: auto;
}

.height {
    height: 6rem;
}

.container {
    /* border: 2px solid red; */
    width: 100%;
    background-color: azure;
}

.relative {
    position: relative;
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-center {
    text-align: center;
}

.center-text a {
    font-size: 1.3rem;
}

/* home - section */
.w-full {
    width: 100%;
}

.py-2 {
    padding-top: 3rem;
    padding-right: 3rem;
}

.py-3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-4 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.z-10 {
    z-index: 10;
}

.text-white {
    color: rgba(255, 255, 255);
}

.mg-1 {
    margin-top: 0.85rem;
}

/* home -  heading */
.font-bold {
    font-weight: 700;
}

.font-display {
    font-family: Playfair Display, serif;
}

.text-center {
    text-align: center;
}

.font-color h1 {
    color: black;
    font-size: 3.75rem;
    line-height: 1;
}


.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.tracking-widest {
    letter-spacing: 0.1em;
}

.uppercase {
    text-transform: uppercase;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.font-heading {
    font-family: Fira Sans Condensed, serif;
}

.py-5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.bg-yellow-800 {
    opacity: 1;
    background-color: rgba(146, 64, 14);
}

.inline-block {
    display: inline-block;
}

.mg-2 {
    margin-top: 1.5rem;
}

.underline-remove {
    text-decoration: none;
}

/* home - bottom  */
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.tracking-widest {
    letter-spacing: 0.1em;
}

.uppercase {
    text-transform: uppercase;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.font-heading {
    font-family: Fira Sans Condensed, serif;
}

.justify-between {
    justify-content: space-between;
}

.max-w-4xl {
    max-width: 56rem;
}

.flex {
    display: flex;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.z-10 {
    z-index: 10;
}

.relative {
    position: relative;
}


/* Home image */
.opacity-70 {
    opacity: 0.8;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.absolute {
    position: absolute;
}

img {
    max-width: 100%;
    height: auto;
}

/* img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align:middle;
} */
img {
    /* border-style: solid; */
}

/*======= post container => border ========= */
.post-container {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
}
.border {
    /* border: 2px solid red; */
}

.bg-white {
    background-color: rgb(239, 244, 249);
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.justify {
    justify-content: flex-end;
}

.py-6 {
    padding: 6rem;
}

/* img w and h-full */
img{
   width:100%;
}
.w-full {
    width: 100%;
}

.h-full {
    /* height:auto;/ */
}

.max-wd {
    max-width: 28rem;
}
.hard-height a{
    height:15rem;
}
/* end img */
.border-green {
    /* border: 2px solid green; */
}

.bg-grey {
    background-color: rgb(219, 212, 212);
}

.bg-yellow-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(146, 64, 14, var(--tw-bg-opacity));
}

.justify-start {
    justify-content: flex-start;
}

.w-24 {
    width: 6rem;
}

.h-custom {
    height: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.font-bold {
    font-weight: 700;
}

.font-display {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.font-sz {
    font-size: 1.5rem
}

.mb-6 {
    margin-bottom: 1.5rem;
}


.text-yellow-800 {
    --tw-text-opacity: 1;
    color: rgba(146, 64, 14, var(--tw-text-opacity));
}

.tracking-widest {
    letter-spacing: 0.1em;
}

.uppercase {
    text-transform: uppercase;
}

.font-light {
    font-weight: 300;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.border-yellow-800 {
    --tw-border-opacity: 1;
    border-color: rgba(146, 64, 14, var(--tw-border-opacity));
}

.border-2 {
    border-width: 2px;
}

.inline-block {
    display: inline-block;
}

/* Travel - container */
.border{
    border:2px solid red;
}
.max-custom-wd{
    max-width:36rem;
}
.p-7{
    padding-top:8rem;
    padding-bottom:8rem;
}


.font-bold {
    font-weight: 700;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.font-display {
    font-family: Playfair Display, serif;
}
.mb-6 {
    margin-bottom: 1.5rem;
}


.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.leading-relaxed {
    line-height: 1.625;
}
.font-light {
    font-weight: 300;
}
.mb-6 {
    margin-bottom: 1.5rem;
}